/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic&subset=latin,cyrillic-ext); */
/* @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,700&subset=latin,cyrillic-ext); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Nunito:ital,wght@0,300;0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
    position: relative; 
    font: 14px 'Open Sans', sans-serif; color:#1a1a1a;
}
h1 {
    font:600 32px 'Montserrat', sans-serif;
    margin-top: 18px;
}
h2 {
    font: 400 26px 'Nunito', sans-serif; margin-bottom: 28px;
    margin-top: 12px;
    text-transform: uppercase;
}
h3{
    font-size: 20px;
    font-family: 'Nunito';
    font-weight: 400;
    color: #1a1a1a;
    text-align: center;
}
.under {
    display:none;
}
h4 {
    font:400 18px 'Nunito', sans-serif;
}
a {
    color:#f39d17;
}
a:hover{
    color: #e98e00;
}
header{
    background: url('../img/uzbekistan-background.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    height:400px;
}
header .tour_logo{
    display: block;
    margin: auto;
    padding-top: 100px;
    
}
.partners{
   margin: auto;
   padding: 16px 0;
   display: flex;
   align-items: center;
   text-align: center;
}
.introduction{
    font-family: 'Nunito';
    font-weight: 300;
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-bottom: 0 !important;
}
.introduction span{
    color: #e98e00;
}
li{
    list-style: none;
}
.top {
    background: #1a1a1a; 
    padding: 1em 0;
}
.summary{
    font: 300 19px 'Nunito', sans-serif; margin-bottom: 20px;}
.summary span{
    font: 700 italic 19px 'Nunito';
}
.price {
    font: 400 16px 'Montserrat', sans-serif;
    margin-top: 18px;
}
.price span {
    font-size: 28px; font-weight: 700; color:#f39d17;}
.supl{
    font:400 16px 'Montserrat'; 
    margin-top: 8px;}
.supl span {
    color:#f39d17;
    font-weight: 800;
}
.menu-line {
    background:#f39d17;
    padding: 6px 0;
}
.affix {
    top:0; 
    left:0; 
    right:0; 
    z-index: 10;
}
.menu-nav li a{
    font: 400 18px 'Montserrat'; 
    color: #fff !important;
}
.navbar ul{
    margin-bottom: 0 !important;
}
nav .menu-nav{
    display: flex;
    justify-content: space-between;
}
.navbar{
    display: block !important;
    padding-left: 0;
    padding-right: 0;
}
.navbar-default .navbar-nav > li > a:hover {
    background-color:#f3f3f3;
}
.navbar-default .navbar-nav > li.active > a,.navbar-default .navbar-nav > li.active > a:hover{
    background:#f3f3f3;
}

/* incl */
.inclusions_title a:hover{
    text-decoration: none;
}

.padtop60 {
    padding-top: 60px;
}
.tour-incl li a {
    font: 400 26px 'Nunito', sans-serif; text-transform: uppercase;
    color:#4c515a;
    padding:10px 15px 5px;
    background:#efefef;
    border-bottom:5px solid #efefef;
}
.tour-incl li.active a {
    background:#fff; 
    border-bottom: 5px solid #dedede;
}
.inclusions_title{
    margin: 30px auto 0; 
    width: 445px;
}
#inc > ul > li,
#exc > ul > li  {
    list-style: none; 
    font-size: 16px; 
    line-height: 30px;
}
#inc > ul > li:before,
#exc > ul > li:before {
    content:'\25A0'; 
    display: block; 
    position: relative; 
    max-width: 0; 
    max-height: 0; 
    left: -25px; 
    color: #1a1a1a; 
    font-size: 10px;
} 
/* incl end   */

/* gallery */
.slick-slider img{
    width: 100%;
    padding: 0 4px;
}
/* gallery end */


.cursor{ 
    cursor:pointer;
}
.name {
    visibility: hidden; 
    position: absolute;
}
#request {
    font-family: 'Montserrat';
}
.form-control {
    font:300 18px 'Montserrat'; 
    height: 50px; 
    padding:10px 15px; 
    border: 1px solid #e0e0e0; 
    box-shadow:none; 
    margin: 12px 0;
}
.form-control:focus {
    border-color: #b6b6b6; box-shadow:none;
}
.btn-success {
    background: #f39d17;
    font: 400 18px 'Montserrat'; 
    text-transform: uppercase; 
    padding: 10px 25px; 
    border: none; 
    border-radius: 4px;
    margin: 20px 0; 
}

.btn-success:hover{
    background: #e98e00;
}


footer {
    background: #f2f2f2; 
    padding:30px 0; 
}
.bottom-menu a {
    font:300 16px 'Montserrat'; 
    line-height: 42px; 
    margin:0 10px; 
    color:#4c515a;
}

.copyright {
    font: 400 16px 'Montserrat';
}
.rights{
    margin-top: 6px;
}
.backtop {
    position: fixed; 
    display:none; 
    bottom: 100px; 
    right: 55px;}

@media (max-width: 1024px) {
    h1 {font-size: 30px;}
    .supl {font-size: 16px;}
    .navbar {min-height:0; margin: 0 -15px;}
    .navbar-default .navbar-nav > li > a {font-size:16px; padding:12px 15px 8px;}
    .price_tr > div:nth-child(2):after {margin-left:-25px;}
    .price_table > div:nth-child(6) > a {font-size: 16px; padding:4px 12px;}
    .reviews {width:580px;}
} 

/* accordeon start */


.btn:focus{
    outline: none !important;
    box-shadow: none;
}

.card-header{
    padding: 0;
    border-radius: 0;
    border: none;
    background: none;
}

.btn-link{
    padding: 0;
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    color: #4C515A;
    position: relative;
    border-top: 3px solid #f3f3f3;
    border-bottom: 3px solid #f3f3f3;
}

.btn-link:hover,
.btn-link:focus{
    text-decoration: none;
    color: #4C515A;
    background: #f3f3f3;
}

.btn-link span{
    padding: 8px 12px;
    border-radius: 2px;
    font-size: 18px;
    color: #fff;
    background: #f39d17;
    margin-right: 16px;
    display: inline-block;
}

.collapsed .minus{
    display: none;
}


.arrow_down{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.schedule .tab-content{
    padding: 25px 18px 0;
}

.accordion .card{
    border: none;
    border-radius: 0;
    overflow: visible;
}

.card-body{
    padding: 0 60px 0;
    font-size: 17px;
    color: #34383e;
    line-height: 25px;
}

.card-body li span{
   color: #f39d17;
   font-size: 19px; 
   font-weight: 600;
   margin-right: 12px;
}

.card-body li{
    line-height: 30px;
}